html {
  overflow: hidden;
  background-image:url("https://image.freepik.com/vector-gratis/fondo-pantalla-tecnologia-futurista_23-2148400307.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
background-attachment: fixed;

}
body li{
	margin-left: 10%;
}
body div ul {
	border: 3px solid black;
	background: white;
	height: 40px;
	width: 200px;
	padding: 5px;
}
.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

.gamebutton {
	border: none;
	background: #ddd;
	color: #333;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}
body button {
	border-radius: 5%;
}
body button:hover {
	background-color: blue;
	border-radius: 10%;
	color: white;
}
